body {
  text-align: center;
}

h1 {
  color: red;
}

p {
  color: rgb(255, 123, 0);
}

.container-color {
  background: yellow;
  display: block;
  margin: 0 auto;
  margin: 100px 100px 100px 100px;
}
